.home {
  background-color: #2234ae;
  background-image: linear-gradient(to bottom,  black 35%,#2234ae);
}
.gradient-text {
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, #898989);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

